/*Footer ===================================================================== */
footer{
    color: $_glb_main-font-on-dark-fon-color;
    background-color: $_glb_footer-bg-color;
    padding-top: 60px;
    padding-bottom: 60px;
    vertical-align: top;
}

.wrapper-in-footer{
    flex-direction: column;
    .join b,
    .footer-subscribe b{
        display: block;
        margin-right: 0;
        margin-bottom: 20px;
    }
    @media screen and (min-width: $tablet-width){
        display: flex;
        align-items: baseline;
        flex-direction: row;
        flex-wrap: wrap;
    }
    @media screen and (min-width: $desktop-width){
        flex-wrap: nowrap;
    } 
}

    .logo-and-contact{
        min-width: 231px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 25%;
        margin-bottom: 60px;
        .logo{
            display: flex;
            color: $_glb_main-font-on-dark-fon-color;
            margin-right: 0;
            margin-bottom: 20px;
        }
        @media screen and (min-width: $tablet-width){
            flex-basis: 50%;
        }
        @media screen and (min-width: $desktop-width){
            align-items: flex-start;
            width: fit-content;
            margin-bottom: 0;
        }
    }
    
    .addres-footer{
        ul li{
            display: flex;
            justify-content: center;
            margin-bottom: 9px;
            line-height: 1.7em;
            font-size: 14px;
            a{
                font-style: normal;
                font-weight: 400;
                color: $_glb_address-footer-a-color;
            }
            @media screen and (min-width: $desktop-width){
                justify-content: start;
            }
        }
        @media screen and (min-width: $tablet-width){
            margin-bottom: 0;
        }
    } 
        
    .join{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
        flex-basis: 25%;
        .social a{
            fill: $_glb_main-font-on-dark-fon-color;
            background-color:$_glb_social-links;
            &:hover{
                background-color: $_glb_main-hover-color;
            }
        }
        @media screen and (min-width: $tablet-width){
            flex-basis: 50%;
        }
        @media screen and (min-width: $desktop-width){
            align-items: flex-start;
        }
    }

    .footer-subscribe{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 100%;
        @media screen and (min-width: $desktop-width){
            align-items: flex-start;
        }
    }

    .footer-subscribe-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        @media screen and (min-width: $desktop-width){
            flex-direction: row;
            align-items: flex-start;
            justify-content: start;
        }
    }

    .footer-subscribe-label{
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 450px;
        margin-bottom: 10px;
        @media screen and (min-width: $desktop-width){
            margin-bottom: 0;
        }
    }

        .footer-subscribe-input{
            height: 50px;
            padding-left: 15px;
            width: 100%;
            max-width: 450px;
            color: $_glb_main-font-on-dark-fon-color;
            background-color: $_glb_footer-bg-color;
            border: 1px solid $_glb_footer-subscribe-input-border-color;
            border-radius: 4px;
            filter: $_glb_footer-subscribe-filter;
        }

    
    
            .footer-subscribe-form-span{
                position: absolute;
                left: 16px;
                top: 50%;
                transform: translateY(-50%);
                transition-duration: $_glb_transition-duration-time;
                transition-timing-function: $_glb_cubic-hover;
                color: $_glb_secondary-font-color;
            }

                .footer-subscribe-input:focus + .footer-subscribe-form-span,
                .footer-subscribe-input:not(:placeholder-shown) + .footer-subscribe-form-span{
                    opacity: 0;
                }

    .footer-subscribe-button{
        @extend %button-base;
        margin-left: 0;
        flex-shrink: 0;
        svg{
            margin-left: 10px;
        }
        @media screen and (min-width: $tablet-width){
            margin-left: 12px;
        }
    }