/* Header ===================================================================== */
header{
    position: relative;
        color: $_glb_main-font-color;
        border-bottom: 1px solid $_glb_header-border-color;
        font-size: 14px;
 
    li, a{
            display: flex;
            align-items: center;
            font-weight: 700;
            color: $_glb_main-font-color;
    }
}

    .wrapper-in-header{
            display: flex;
            padding-top: 0;
            padding-bottom: 0;
    }

    .logo{
        font-family: $_glb_logo-font-family;
        font-size: 24px;
        line-height: 1.16em;
        color: $_glb_main-font-color;
        text-decoration: none;
        margin-right: 0;
        z-index: 2;
        span{ color: $_glb_main-hover-color; }
        
        @media screen and (min-width: $tablet-width){
            margin-right: 85px;
            font-size: 26px;
        }
    }

    
    .top{
        display: flex;
        position: relative;
        flex-grow: 1;
        height: 60px;
        @media screen and (min-width: $tablet-width){
            padding-top: 16px;
            padding-bottom: 16px;
            height: 100%;
            padding: 0;
            display: flex;
        }
    }

    .header-menu-wrapper{
        display: flex;
        flex-direction: column;
        position: absolute;
        top:100%;
        left: -15px;
        width: calc(100% + 30px);
        padding: 60px;
        z-index: 1;
        border-top: 1px solid $_glb_header-border-color;
        background-color: $_glb_main-bg-color;
        opacity: 0;
        pointer-events: none;
        &.is-open{
            opacity: 1;
            pointer-events: all;
        }
        transition-duration: $_glb_transition-duration-time;
        transition-timing-function: $_glb_cubic-hover;
        @media screen and (min-width: $tablet-width){
            opacity: 1;
            position: relative;
            pointer-events: all;
            top: 0;
            padding: 0;
            display: flex;
            flex-grow: 1;
            flex-direction: row;
            border-top: none;
        }
    }

    .top-nav-ul{
        display: flex;
        flex-direction: column;
        li{
            justify-content: center;
            padding-top: 20px;
            padding-bottom: 20px;
            a{
                padding-bottom: 8px;
            }
            &:first-child{
                padding-top: 0;
            }
        }
        @media screen and (min-width: $tablet-width){
            flex-direction: row;
            flex-wrap: wrap;
            li{
                padding-top: 0;
                padding-bottom: 0;
                a{
                    padding-bottom: 0;
                }
            }
            li:not(:last-child) {
                margin-right: 50px;
            }
            a { min-height: 80px; }
        }
    }
        
    .addres-header{
        a{
            display: flex;
            justify-content: center;
            height: 100%;
            color: $_glb_secondary-font-color;
            fill: $_glb_secondary-font-color;
            transition-duration: $_glb_transition-duration-time;
            transition-timing-function: $_glb_cubic-hover;
        }
        .address-icon{
            width: 16px;
            height: 16px;
        }
        .contact{
            display: flex;
            flex-direction: column;
            span{ padding-left: 10px; }
            li{
                justify-content: center;
            }
            li:not(:last-child){
                margin-bottom: 16px;
            }
        }
        @media screen and (min-width: $tablet-width){ /* всё что больше */
            display: flex;
            align-items: center;
            margin-left: auto;
            .address-icon{
                display: flex;
            }
        }
        @media screen and (min-width: $desktop-width) {
            .contact{
                flex-direction: row;
                align-items: center;
                li:not(:last-child){
                    margin-right: 30px;
                    margin-bottom: 0;
                }
            }
        }
    }

    .menu-button{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        border: none;
        padding: 0;
        background-color: transparent;
        z-index: 2;
        
        .icon-close{
            display: none;
        }
        
        &.is-open .icon-close{
            display: block;
        }
        
        &.is-open .icon-menu{
            display: none;
        }
        
        @media screen and (min-width: $tablet-width){
            display: none;
        }
        &:hover{
            fill:$_glb_main-hover-color;
        }
    }


    /*menu hover effect ==================== */
    .active-page{
        color: $_glb_main-hover-color;
    }

    .hover-effect:hover,
    .hover-effect:focus{
        color: $_glb_main-hover-color;
        fill: $_glb_main-hover-color;
    }

    /*menu underline ==================== */
    .active-page{
        position: relative;
        &::after{
            @include menu-underline(1);
        }
    }

    .menu-hover-underline{
        position: relative;
        &::after{
            @include menu-underline(0);
        }

        &:hover::after,
        &:focus::after{
            opacity: 1;
        }
    }