.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: $_glb_backdrop-bg-color;
    transition-duration: $_glb_transition-duration-time;
    &.is-hidden{
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transform: scale(1.5);
    }
    z-index: 200;
}

    .modal-window{
        @extend %flex-center;
        position: relative;
        max-width: 528px;
        min-height: 581px;
        margin: 0 auto;
        padding: 50px;
        top: 50%;
        transform: translateY(-50%);
        background-color: $_glb_modal-window-bg-color;
        box-shadow: $_glb_modal-window-shadow;
        border-radius: 4px;
        transition-duration: $_glb_transition-duration-time;
        font-size: 14px;
        @media screen and (min-width: $tablet-width){
            width: 528px;
            padding: 40px;
        }
        @media screen and (max-height: 565px){
            height: fit-content;
        }
    }

    .modal-window-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        
        label{
            color: $_glb_secondary-font-color;
            cursor: pointer;
        }

        svg{
            cursor: pointer;
        }
        @media screen and (max-height: 565px){
            position: relative;
        }
    }


    
        .close-modal{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 8px;
            right: 8px;
            width: 30px;
            height: 30px;
            border: 1px solid $_glb_close-modal-border-color;
            border-radius: 50%;
            background-color: $_glb_modal-window-bg-color;
            fill: $_glb_main-font-color;
            cursor: pointer;
            transition-duration: $_glb_transition-duration-time; 
            transition-timing-function: $_glb_cubic-hover;
            &:hover,
            &:focus{ fill: $_glb_main-hover-color; }
            @media screen and (max-height: 565px){
                top: 50%;
                transform: translateY(-50%);
                border-radius: 50% 0% 0% 50%;
                right: 0px;
            }
        }


        .modal-header{
            display: block;
            margin: 0 auto 30px auto;
            text-align: center;
            font-size: 20px;
            line-height: 1.150em;
            @media screen and (max-height: 565px){
                margin-bottom: 14px;
            }
        }

        .form-field{
            position: relative;
            width: 100%;
            height: 40px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 28px;
            @media screen and (max-height: 565px){
                margin-bottom: 14px;
                height: 30px;
            }
        }

        .textarea-block{
            position: relative;
            width: 100%;
            height: 120px;
            margin-bottom: 20px;
            textarea{
                height: 100%;
            }
            @media screen and (max-height: 565px){
                height: 60px;
                margin-bottom: 14px;
            }
        }

        .agreement-block{
            margin-bottom: 30px;
            @media screen and (max-height: 565px){
                margin-bottom: 14px;
            }
        }
    
        .modal-input{
            @extend %modal-input-textarea;
            height: 100%;
            width: 100%;
            padding-left: 42px;
            &.text{
                padding: 12px 16px;
            }
        }

        

        .svg-for-input{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            left: 16px; 
            top: 11px;
            width: 18px;
            height: 18px;

            .modal-input:focus ~ &{
                fill: $_glb_main-hover-color;
            }
            @media screen and (max-height: 565px){
                top: 5px;
            }
        }

        .modal-label{
            position: absolute;
            top: 13px;
            left: 42px;
            transition-duration: $_glb_transition-duration-time;

            .modal-input:focus + &,
            .modal-input:not(:placeholder-shown) + &{
                top:-18px;
                left:16px;
                color: $_glb_main-hover-color;
            }
            @media screen and (max-height: 565px){
                top: 7px;
                .modal-input:focus + &,
                .modal-input:not(:placeholder-shown) + &{
                    font-size: 12px;
                    top:-12px;
                    left:16px;
            }
            }
        }
        
        .form-comment{ left: 16px; }

        .label-checkbox-agreement{
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-size: 11px;
            @media screen and (min-width: $tablet-width){
                font-size: 14px;
            }
        }

        .input-checkbox-agreement{
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            position: absolute;
            border: hidden;
        }

        .checkbox-icon{
            display: block;
            width: 16px;
            height: 16px;
            margin-right: 8px;
            border: 2px solid black;
            border-radius: 2px;

            &:hover, input:focus + &{
                background-color: $_glb_main-hover-color;
                border: none;
                border-radius: 2px;
            }

            .input-checkbox-agreement:checked + &{
                background-color: $_glb_main-hover-color;
                border: none;
                background-image: url(../images/modal-svg/check.svg);
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 2px;
            }
        }


    .link-terms{
            position: relative;
            color: $_glb_main-hover-color;
        &::after{
            /* -=-=-=- link underline -=-=-=- */
            content: "";
            position: absolute;
            width: 100%;
            bottom: 0.07em;
            left: 0;
            display: block;
            height: 0.05em;
            background-color: $_glb_main-hover-color;
            transition-duration: $_glb_transition-duration-time; 
            transition-timing-function: $_glb_cubic-hover;
        }
        &:hover::after{
            opacity: 0;
        }
    }

    .modal-button-send{
        @extend %button-base;
        @media screen and (max-height: 565px){
            height: 30px;
            padding: 3px;
        }
    }