html { box-sizing: border-box; }

*,
*::before,
*::after {
    box-sizing: inherit;
}
  
body{
    font-family: $_glb_main-font-family;
    color: $_glb_main-font-color;
    background-color: $_glb_main-bg-color;
    letter-spacing: 0.03em;
    min-width: $mobile-width;
}



a{ text-decoration: none; }

address{ font-style: normal; }

ul{ 
    list-style-type: none;
    padding: 0;
    margin: 0;
}

p, h2{ margin: 0; }

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section{
    margin: 0 auto;
    padding-top: 94px;
    padding-bottom: 94px;
    @media screen and (max-width: 480px){
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: $mobile-width){
        width: 480px;
    }
    @media screen and (min-width: $tablet-width){
        width: 768px;
    }
    @media screen and (min-width: $desktop-width){
        width: 1200px;
    }
}

.index-no-border{ border: 0; }