html { box-sizing: border-box; }

*,
*::before,
*::after {
    box-sizing: inherit;
}
  
body{
    font-family: $_glb_main-font-family;
    color: $_glb_main-font-color;
    background-color: $_glb_main-bg-color;
    letter-spacing: 0.03em;
}

a{ text-decoration: none; }

address{ font-style: normal; }

ul{ 
    list-style-type: none;
    padding: 0;
    margin: 0;
}

p, h2{ margin: 0; }

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section{
    margin: 0 auto;
    padding-top: 94px;
    padding-bottom: 94px;
}

.container{
    margin: 0 auto;
    max-width: $_glb_max-width;
    padding-left: 15px;
    padding-right: 15px;
}

.index-no-border{ border: 0; }