.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 600px;
    max-width: 1600px;
    text-align: center;
    background-image:
                linear-gradient(to right,
                    $_glb_hero-gradient-1,
                    $_glb_hero-gradient-2),
                url("../images/hero-image.jpg");
    background-position: center;

    h1{
        margin-top:0;
        margin-bottom: 30px;
        color:$_glb_main-font-on-dark-fon-color;
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36em;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }

    button{
        @extend %button-base;
        box-shadow: $_glb_button-shadow;
    }
}