.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 400px;
    text-align: center;

    background-image:
                linear-gradient(to right,
                    $_glb_hero-gradient-1,
                    $_glb_hero-gradient-2),
                    url("../images/adaptiv/mobile-mobile-hero-1x-480.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

    @media  screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 2dppx),
            screen and (min-resolution: 192dpi){
                    background-image: 
                        linear-gradient(to right,
                            $_glb_hero-gradient-1,
                            $_glb_hero-gradient-2),
                            url("../images/adaptiv/mobile-mobile-hero-2x-960.jpg");
    }

    @media  screen and (min-device-pixel-ratio: 3),
            screen and (min-resolution: 3dppx),
            screen and (min-resolution: 288dpi){
                    background-image: 
                        linear-gradient(to right,
                            $_glb_hero-gradient-1,
                            $_glb_hero-gradient-2),
                            url("../images/adaptiv/mobile-mobile-hero-3x-1440.jpg");
    }

    @media  screen and (min-width: 768px){
        background-image:
        linear-gradient(to right,
            $_glb_hero-gradient-1,
            $_glb_hero-gradient-2),
            url("../images/adaptiv/tablet-tablet-hero-1x-768.jpg");

        @media  screen and (min-device-pixel-ratio: 2),
                screen and (min-resolution: 2dppx),
                screen and (min-resolution: 192dpi){
                        background-image: 
                            linear-gradient(to right,
                                $_glb_hero-gradient-1,
                                $_glb_hero-gradient-2),
                            url("../images/adaptiv/tablet-tablet-hero-2x-1536.jpg");
        }
    
        @media  screen and (min-device-pixel-ratio: 3),
                screen and (min-resolution: 3dppx),
                screen and (min-resolution: 288dpi){
                        background-image: 
                            linear-gradient(to right,
                                $_glb_hero-gradient-1,
                                $_glb_hero-gradient-2),
                            url("../images/adaptiv/tablet-tablet-hero-3x-2304.jpg");
        }
    }

    @media  screen and (min-width: 1200px){
        height: 600px;
        max-width: 1600px;
        background-image:
        linear-gradient(to right,
            $_glb_hero-gradient-1,
            $_glb_hero-gradient-2),
        url("../images/adaptiv/desktop-desktop-hero-1x-1600.jpg");

        @media  screen and (min-device-pixel-ratio: 2),
                screen and (min-resolution: 2dppx),
                screen and (min-resolution: 192dpi){
                        background-image: 
                            linear-gradient(to right,
                                $_glb_hero-gradient-1,
                                $_glb_hero-gradient-2),
                            url("../images/adaptiv/desktop-desktop-hero-2x-3200.jpg");
        }
    
        @media  screen and (min-device-pixel-ratio: 3),
                screen and (min-resolution: 3dppx),
                screen and (min-resolution: 288dpi){
                        background-image: 
                            linear-gradient(to right,
                                $_glb_hero-gradient-1,
                                $_glb_hero-gradient-2),
                            url("../images/adaptiv/desktop-desktop-hero-3x-4800.jpg");
        }
    }

    h1{
        margin-top:0;
        margin-bottom: 30px;
        color:$_glb_main-font-on-dark-fon-color;
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.36em;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        @media  screen and (min-width: 1200px){
            font-size: 44px;
        }
    }

    button{
        @extend %button-base;
        margin: 0 auto;
        box-shadow: $_glb_button-shadow;
    }
}