.what-we-do{
    &.section{
        padding-top: 0;
    }

    .section-title{
        margin-bottom: 50px;
        text-align: center;
    }

    .what-we-do-list{
        @extend %flex-center;
        justify-content: center;
    }

    li{ position: relative; }

    li:not(:last-child){ margin-right: 30px; }
    
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        color: $_glb_main-font-on-dark-fon-color;
        width: 100%;
        height: 70px;
        background-color: $_glb_what-we-do-card-header-bg-color;

        h3{
            margin: 0;
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
        }
    }
}